/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */

/* Colors */
@black: #000000;
@grayf1: #F1F1F1;
@lightgray: #F2F0F1;
@gray: #C2C6C9;
@darkgray: #616161;
@lightpink: #EDDFDC;
@mediumpink: #F6CECF;
@darkpink: #DD838E;
@white: #FFFFFF;
@blue: #2B7BCB;
@orange: #FFB12A;
@darkgreen: #2D4551;
@darkblue: #9DA5B8;

/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html,
body {
    height: 100%;
}

body {
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}


.page-container {
    min-height: 85vh;
}

.floating-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    padding: 0;
    z-index: 3;
    .transform(translate3d(0, 0, 0));
    .transition(all .2s ease-in-out);

    & .img-logo {
        max-height: 90px;
    }
}

.floating-nav__inner {
    height: auto;
    width: 100%;
    padding: 0 0;
    background: @white;
    box-shadow: 0 2px 6px @gray;

    & .the-header {
        padding-top: 10px;
    }
}

.floating-nav.is-hidden {
    .transform(translate3d(0, -210px, 0));
}

/* --------------------------------------------------------------
0.- GENERAL PURPOSES
-------------------------------------------------------------- */
.btn-gray {
    background: @lightgray;
    color: @darkgreen;
    border-radius: 0;
    padding: .8rem 1.5rem;
    text-transform: uppercase;
}

.btn-green {
    background: @darkgreen;
    color: @white;
    border-radius: 0;
    padding: .8rem 1.5rem;
    text-transform: uppercase;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.search-container {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    padding: 5rem;
    opacity: 1;
    color: @white;
    .transition(all .3s ease-in-out);

    & .search-container-controller {
        display: flex;
        align-items: center;
        font-size: 2rem;
        justify-content: space-between;
    }

    & a {
        cursor: pointer;
    }

    & h2 {
        margin-bottom: 1rem;
    }

    & button {
        border: 0;
        border-bottom: 1px solid @darkgray;
    }

    & input {
        color: @white;
        border: 0;
        background: none transparent;
        border-bottom: 1px solid @darkgray;
        border-radius: 0;
    }
}

.search-container-hidden {
    z-index: -5;
    opacity: 0;
}

/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
    padding-top: 1rem;
    z-index: 9;

    & .img-brand {
        max-height: 75px;
        .transition(all .2s ease-in-out);

        &:hover {
            .filter(invert(1));
        }
    }

    & .the-navbar {
        padding: 0 2rem;

        & button:focus {
            outline: 0 !important;
        }

    }

    & .navbar {
        & li {
            & .nav-link {
                color: @white;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 2px;

                &:hover {
                    font-weight: 500;
                    color: @black;
                }
            }
        }
    }
}

.home-menu-extra {
    position: absolute;
    right: 0;
    box-shadow: 1px 5px 20px #c2c6c9;
    background: @white;
    .transition(all .2s ease-in-out);

    & ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        & a {
            padding: .8rem 1.5rem;
            padding-right: 3rem;
            text-transform: uppercase;
            color: @black;
            font-weight: 300;

            &:hover {
                color: @darkpink;
            }
        }
    }
}


.home-menu-blog-extra {
    top: 10vh;
}

.navbar-mobile-collapse {
    & ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        &:nth-child(1) {
            margin-top: 10px;
        }

        & li {
            & a {
                text-transform: uppercase;
                color: @white;

                &:hover {
                    color: @lightpink;
                }
            }
        }
    }
}

.menu-icon {
    width: 35px;
    height: 25px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
    .transform(rotate(0deg));
    .transition(all .4s ease-in-out);

    & span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: @darkgreen;
        opacity: 1;
        left: 0;
        .transform(rotate(0deg));
        .transition(all .3s ease-in-out);

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 10px;
        }

        &:nth-child(4) {
            top: 20px;
        }
    }

    &:hover {
        & span {
            background: @darkpink;
        }
    }
}

.open {
    & span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    & span:nth-child(2) {
        .transform(rotate(45deg));
    }

    & span:nth-child(3) {
        .transform(rotate(-45deg));
    }

    & span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}

.the-navbar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 1.5rem 2.5rem;
    background: rgba(0, 0, 0, 0.53);
    .transition(all .3s ease-in-out);

    & .menu-icon {
        margin-left: 0;

        & span {
            background: @white;
        }
    }

    & .img-brand {
        .filter(invert(0));
        .transition(all .2s ease-in-out);
    }

    & a {
        cursor: pointer;
        color: @white  !important;
    }
}

.header-mobile {
    position: relative;
    z-index: 10;
    padding: 0 .5rem !important;

    & .img-brand {
        max-width: 80px;
    }
}

.fixed-mobile {
    & .the-navbar-mobile {
        background: rgba(0, 0, 0, 0.70);
        padding: 1rem 2.5rem;
        color: @white;

        & .img-brand {
            .filter(invert(0));
        }
    }

    .navbar-search-icon {
        & a {
            color: @white;

            &:hover {
                color: @darkpink;
            }
        }
    }


    & .menu-icon {
        & span {
            background: @white;
        }

        &:hover span {
            background: @darkpink;
        }
    }
}

.fixed-click-mobile {
    & .the-navbar-mobile {
        background: rgba(0, 0, 0, 0.90);
        padding: .2rem 1.5rem;
        color: @white;

        & .img-brand {
            .filter(invert(0));
        }
    }

    .navbar-search-icon {
        opacity: 0 !important;
    }


    & .menu-icon {
        & span {
            background: @white;
        }

        &:hover span {
            background: @darkpink;
        }
    }
}


.navbar-mobile-collapse {
    position: fixed;
    top: 107px;
    left: 0;
    background: rgba(0, 0, 0, 0.90);
    height: 100%;
    width: 100%;
    max-width: 75%;
    .transition(all .5s ease-in-out);

    & .menu-menubar-container {
        margin-bottom: 1rem;

        & ul {
            & li {
                & a {
                    padding: .8rem .5rem;
                    font-weight: 600;

                    &:hover {
                        color: @darkpink;
                    }
                }
            }
        }

        & ul:last-child {
            border-top: 1px solid @darkgray;
        }
    }

    & .search-menubar-container {
        padding: 0 1.3rem;

        & button {
            border: 0;
            border-bottom: 1px solid @darkgray;
        }

        & input {
            color: @white;
            border: 0;
            background: none transparent;
            border-bottom: 1px solid @darkgray;
            border-radius: 0;
            .placeholder(@white);
        }
    }

    & .social-menubar-container {
        padding: .8rem 1rem;
        font-size: 1.5rem;

        & a {
            color: @white;
            padding: 0 10px;

            &:hover {
                color: @darkpink;
            }
        }
    }
}

.navbar-search-icon {
    font-size: 1.3rem;

    & a {
        color: @darkgreen;

        &:hover {
            color: @darkpink;
        }
    }
}

.navbar-mobile-collapse-hidden {
    left: -100%;
}

.the-header-blog {
    background: @white;
    box-shadow: 0 2px 6px @gray;
    z-index: 1;
    padding: .5rem 2rem !important;

    & .header-logo {
        & img {
            max-height: 80px;
        }
    }

    & a {
        color: @black;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;

        &:hover {
            color: @darkpink;
        }
    }

    & .menu-hamburger {
        text-align: right;
    }
}

.img-invert {
    .filter(invert(1));
}

.the-navbar {
    .transition(all .2s ease-in-out);

    & .navbar-search-icon {
        font-size: 1rem;
        margin-left: .5rem;
        color: @white;
        cursor: pointer;
    }
}

.navbar-opaque {
    padding: .5rem 2rem !important;
    padding-bottom: .5rem !important;
    background: rgba(38, 38, 38, 0.4);
}

.home-menu-section {
    overflow: hidden;

    & .home-menu-content {
        background: @white;
        min-height: 56px;
        padding: .5rem;

        & .custom-home-nav {
            list-style: none;
            padding: 0;
            text-align: center;
            margin-bottom: 0;

            & li {
                display: inline-block;

                & a {
                    color: @black;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 300;

                    &:hover {
                        font-weight: 400;
                        color: @darkpink;
                    }
                }
            }
        }
    }
}

.home-menu-logo {
    transform: translateX(-100px);
    .transition(all .3s ease-in-out);

    & img {
        max-height: 40px;
    }
}

.home-menu-bar {
    transform: translateX(100px);
    .transition(all .3s ease-in-out);
}

.slide-in-left,
.slide-in-right {
    transform: translateX(0);
}

.hidden {
    opacity: 0;
}

.is-fixed {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    background: @white;
    padding: 0 3rem;
    box-shadow: 0 0 10px @gray;
}

.home-menu-extra-hidden {
    display: none;
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    & .footer-section {
        & .footer-item {
            padding: 3.5rem 2rem;
            font-size: 1rem;
            line-height: 2rem;

            & .menu {
                & li {
                    display: block;

                    & a {
                        color: @darkgreen;
                        padding: .2rem 0;
                        font-size: .9rem;
                        font-weight: 500;
                        text-transform: uppercase;

                        &:hover {
                            font-weight: 400;
                            color: @darkpink;
                        }
                    }
                }
            }

            & .widgettitle {
                font-weight: 700;
                font-size: 1.4rem;
                margin-bottom: 1.5rem;
                text-transform: uppercase;
            }

            & ul {
                list-style: none;
                padding: 0;
            }
        }
    }

    & .footer-newsletter-item {
        text-align: center;
    }


    & .footer-newsletter {
        background: @lightpink;
    }

    & .footer-copyright {
        background: @darkgreen;
        color: @white;
        padding: .8rem;
        text-align: center;

        & h5 {
            font-size: .9rem;
            margin-bottom: 0;
        }
    }
}


/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
/* MAIN HERO CONTENT */
.section-hero {
    margin-top: -4.7%;

    & .section-hero-content {
        min-height: 89vh;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }

    & .row-hero {
        min-height: 89vh;
    }

    & .hero-content {
        & h2 {
            font-size: 1.4rem;
            margin-top: 2rem;
            font-weight: 300;
            letter-spacing: .5px;
        }
    }
}

/* PODCAST CONTENT */
.section-podcast {
    & .section-podcast-content {
        min-height: 70vh;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;

        & .podcast-hero {
            & .btn-gray {
                display: block;
                max-width: 280px;
                margin: 1.5rem auto;
                margin-bottom: 0;

                & .fa {
                    border: 1px solid @darkgreen;
                    border-radius: 100%;
                    padding: .5em;
                    margin-left: .5rem;
                    line-height: .9rem;
                    .transition(all .2s ease-in-out);
                }

                &:hover {
                    background: @darkgreen;
                    color: @lightgray;

                    & .fa {
                        border: 1px solid @lightgray;
                    }
                }
            }
        }
    }

    & .row-podcast {
        min-height: 70vh;
    }

    & .section-podcast-text-content {
        background: @grayf1;
        color: @darkgreen;

        & .podcast-text-item {
            padding: 1rem 1.5rem;
            font-size: 1.05rem;
            line-height: 1.8rem;
        }

        & .podcast-text-item-first {
            font-weight: 600;
            font-size: 1.1rem;
            line-height: 1.9rem;
        }

        & .podcast-box-container {
            position: relative;

            & .podcast-box {
                background: @white;
                position: absolute;
                bottom: 1px;
                left: 1rem;
                z-index: 2;
                padding: 0;
                margin: 0;
                list-style: none;
                max-width: 350px;

                & .podcast-heading {
                    padding: 3rem 2rem !important;

                    & h2 {
                        font-weight: 700;
                        text-align: left;
                        font-size: 1.5rem;
                        text-transform: uppercase;
                    }
                }

                & li {
                    position: relative;

                    & a {
                        color: @darkgreen;
                        text-transform: uppercase;
                        font-weight: 500;
                        padding: 1rem;
                        display: block;

                        &:hover {
                            background: @darkgreen;
                            color: @white;
                        }

                        & .fa {
                            background: @darkpink;
                            color: @white;
                            border: 0;
                            font-size: .9rem;
                            position: absolute;
                            bottom: .9rem;
                            right: 1rem;
                            text-align: center;
                            border-radius: 100%;
                            padding: .5rem .55rem;
                            line-height: .9rem;
                            .transition(all .2s ease-in-out);

                        }
                    }

                    &:nth-child(2n+1) {
                        background: @lightpink;
                    }
                }
            }
        }
    }
}

.section-about {
    position: relative;

    & .section-about-main-picture {
        min-height: 80vh;
        background-size: cover !important;
        background-position: center center !important;
    }

    & .section-about-item {
        & .about-pre-heading {
            padding: 2rem 1.5rem;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1.2rem;
            letter-spacing: .5px;
        }

        & .about-text-content {
            color: @darkgreen;
            padding: 4rem 8rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2rem;

            & h2 {
                font-weight: 700;
                margin-bottom: 2rem;
                font-size: 2.2rem;
            }
        }
    }

    & .section-about-sprite {
        position: absolute;
        top: 15vh;
        left: 40vw;
        max-width: 290px;
    }

    & .section-about-button {
        position: absolute;
        bottom: 10vh;
        left: 42vw;

        & .btn-green {
            padding: 1rem 3rem;
            border: 2px solid @darkgreen;

            &:hover {
                background: @white;
                color: @darkgreen;
            }
        }
    }
}

.section-about-button-mobile {
    & .btn-green {
        padding: 1rem 3rem;
        border: 2px solid @darkgreen;

        &:hover {
            background: @white;
            color: @darkgreen;
        }
    }
}

.quiz-section {
    & .section-quiz-content {
        background: @mediumpink;
        color: @darkgreen;
        padding: 5rem 3rem;
        text-align: center;

        & .img-quiz {
            margin-bottom: 3rem;
        }

        & .section-quiz-text {
            font-size: 1.3rem;
            line-height: 2rem;

            & strong {
                display: block;
            }

            & .btn-gray {
                padding: 1rem 5rem;
                margin-top: 2rem;

                &:hover {
                    background: @darkgreen;
                    color: @lightgray;
                }
            }
        }
    }
}

.profile-section {
    padding: 2rem;

    & .profile-item {
        text-align: center;

        & .btn-green {
            margin-top: 1rem;
            padding: 1rem 5rem;
            border: 2px solid @darkgreen;

            &:hover {
                background: @white;
                color: @darkgreen;
            }
        }

        & .profile-item-text {
            padding: 0 2rem;
            text-align: left;
            min-height: 320px;
            align-items: center;
            display: flex;
            flex-flow: column;

            & img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.links-section {
    & .section-links-content {
        background: @darkblue;
        color: @darkgreen;
        padding: 4rem;

        & .links-item {
            text-align: center;

            & .btn-gray {
                margin-top: 1rem;
                padding: 1rem 3rem;
                width: 230px;

                &:hover {
                    background: @darkgreen;
                    color: @lightgray;
                }
            }

            & .links-item-text {
                font-weight: 700;
                padding: 0 5rem;
                line-height: 1.7rem;
                margin: 1rem 0;
                margin-bottom: 0;
                min-height: 130px;
                display: inline-flex;
                align-items: center;
            }
        }
    }
}

/* --------------------------------------------------------------
4.- ABOUT
-------------------------------------------------------------- */
.page-about-hero {
    margin-top: -5.5rem;

    & .page-about-hero-content {
        min-height: 90vh;
        background-size: cover !important;

        & .row-hero {
            min-height: 90vh;
        }

        & .about-hero-text {
            position: relative;

            & h2 {
                color: @darkgreen;
                position: absolute;
                bottom: -12%;
                left: 18%;
                font-size: 3.3rem;
                letter-spacing: -1px;
                font-weight: 400;
            }
        }
    }
}

.page-about-intro-section {
    & .section-intro-content {
        padding: 5rem 1rem;
        background: @grayf1;
    }

    & .page-about-intro-title-section {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;

        & h2 {
            color: @darkgreen;
            font-size: 1.8rem;
            font-weight: 400;
            margin-left: -4rem;
            text-transform: uppercase;
        }
    }

    & .section-intro-text-content {
        color: @darkgreen;
        padding: 0 5rem;
        font-size: 1.08rem;
        font-weight: 500;
        line-height: 2.1rem;
        text-align: center;
    }
}

.page-about-second-section {
    & .section-about-main-picture {
        min-height: 80vh;
        background-size: cover !important;
        background-position: center center !important;
    }

    & .about-text-content {
        color: @darkgreen;
        padding: 0 5rem;
        font-size: 1.1rem;
        line-height: 2rem;

        & p:last-child {
            font-size: .9rem;
            line-height: 1.9rem;
        }

        & .about-text-title {
            position: relative;
            margin-bottom: 2rem;

            & h2 {
                color: @darkgreen;
                position: absolute;
                top: 45%;
                font-weight: 700;
                font-size: 2.1rem;
            }
        }
    }
}

.page-about-third-section {
    & .section-about-content {
        background: @mediumpink;
        padding: 7rem 1rem;

        & .section-about-img {
            text-align: center;

            & img {
                display: inline-block;
            }
        }

        & .section-about-text {
            color: @darkgreen;
            text-align: center;
            line-height: 3rem;
            font-size: 1.4rem;
            font-weight: 700;
            margin-top: -4rem;
        }
    }
}


/* --------------------------------------------------------------
5.- BLOG
-------------------------------------------------------------- */
.title-breadcrumb-container {
    background: @grayf1;
    color: @darkgreen;
    padding: 1.5rem 0;

    & .main-title-container {

        & h1,
        h2 {
            display: inline-block;
            font-size: 1.1rem;
            letter-spacing: 1.5px;
            font-weight: 600;
            margin-bottom: 0;
            text-transform: uppercase;

        }
    }

    & .breadcrumb-container {
        & .breadcrumb {
            padding: 0;
            margin: 0;
            border-radius: 0;
            font-size: .8rem;
            font-weight: 600;
            background: none transparent;
            justify-content: flex-end;
            text-transform: uppercase;

            & li {
                & a {
                    color: @darkgreen;
                }
            }
        }
    }
}

.blog-container {
    padding: 2rem 0;
}

.archive-item {
    & .archive-item-image {
        position: relative;

        & header {
            background: @white;
            position: absolute;
            bottom: 6%;
            left: 5%;
            max-width: 70%;
            padding: 2.2rem 2rem;
            padding-right: 4rem;

            & h2 {
                font-size: 1.6rem;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 2.2rem;
                margin: .8rem 0;
            }

            & a {
                color: @darkgreen;
            }
        }

        & .category-container {
            & ul {
                list-style: none;
                padding-left: 0;
                margin: 0;
                display: flex;

                & li {
                    & a {
                        color: #ff0000;
                        text-transform: uppercase;
                        padding-right: 1rem;
                    }
                }

            }
        }
    }

    & .archive-item-content {
        color: @darkgreen;
        position: relative;
        font-size: .9rem;
        font-weight: 500;
        line-height: 1.6rem;
        margin-top: 1rem;

        &:after {
            content: ' ';
            background: #ababab;
            position: absolute;
            bottom: 0px;
            left: 15px;
            width: 40px;
            height: 1px;
        }
    }

    & .archive-item-meta {
        padding: 1rem;
        margin-bottom: 1rem;

        & .archive-item-social {
            text-align: right;

            & a {
                color: @black;
            }
        }
    }
}

.the-sidebar {
    list-style: none;
    padding-left: 0;
    padding-top: 1rem;
    color: @darkgreen;

    & a {
        color: @darkgreen;
    }

    & .widget {
        padding-bottom: 2rem;
    }

    & .widget_categories {
        & ul {
            list-style: none;
            padding-left: 0;

            & li {
                padding-bottom: .5rem;
                font-size: .9rem;
                text-transform: uppercase;
            }
        }
    }

    & .widget_search {
        & .input-group {
            padding-bottom: .5rem;
            border-bottom: 1px solid @darkgreen;

            & input {
                border: 0;
                border-radius: 0;
            }

            & button {
                border: 0;
                border-radius: 0;
            }
        }
    }

    & .widgettitle {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 600;
        margin: .5rem 0;
    }

    & .widget-post-list {
        & li {
            align-items: center;
            margin: 1rem 0;

            & .media-number {
                color: @gray;
                font-size: 3rem;
                line-height: 1rem;
                text-align: center;
                margin: 0;
                margin-right: 1rem;
                vertical-align: middle;
            }

            & h5 {
                font-size: .9rem;
                margin-bottom: 0;
                line-height: 1.3rem;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
}


.the-single {
    color: @darkgreen;
    padding-right: 4rem;

    & header {
        padding: 2rem 0;
        padding-bottom: .5rem;

        & h1 {
            position: relative;
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-weight: 600;
            text-transform: uppercase;
            padding-right: 10rem;
            margin: 1rem 0;

            &:after {
                content: ' ';
                background: @black;
                position: absolute;
                bottom: -15px;
                left: 0;
                width: 60px;
                height: 1px;
            }
        }
    }

    & picture {
        & img {
            margin-bottom: 1rem;
        }
    }

    & .single-meta-container {
        padding: 1.2rem 1rem;
    }

    & .category-container {
        list-style: none;
        padding-left: 0;
        margin: 0;
        display: flex;

        & a {
            color: #ff0000;
            text-transform: uppercase;
            padding-right: 1rem;
        }
    }

    & .post-content {
        font-size: 1rem;
        line-height: 1.8rem;
    }
}


.hidden-quiz {
    display: none;
}

.quiz-container {
    position: relative;
    min-height: 50vh;

    & .quiz-content {
        & h4 {
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 3rem;
        }

        & .radio-option {
            background: #ececec;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            margin-bottom: 10px;
            text-align: left;


            & label {
                max-width: 90%;
                margin-bottom: 0;
                padding: .6rem;
                cursor: pointer;
                .transition(all .1s ease-in-out);
            }

            & input:checked ~ label {
                font-weight: bold;
            }
        }
    }



    & .quiz-counter {
        text-align: center;
        font-weight: 600;
        padding-top: 1rem;

        & span:nth-child(1) {
            font-size: 1.3rem;
        }
    }

    & .quiz-controller {
        position: absolute;
        bottom: 0;

        & .quiz-button {
            & button {
                text-align: center;
                font-size: 1.5rem;
                border-radius: 100%;
                border: 1px solid #dddddd;
                width: 50px;
                height: 50px;
                padding: 0;
                padding-top: .3rem;
                vertical-align: middle;
                box-sizing: content-box;
                opacity: .5;
                color: #757575;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }

        & .quiz-back {
            text-align: left;

            & button {
                padding-right: .2rem;
            }
        }

        & .quiz-next {
            text-align: right;

            & button {
                padding-left: .2rem;
            }
        }

        & .quiz-button-hidden {
            opacity: 0;
            z-index: -2;
        }
    }
}

.quiz-container-hidden {
    display: none;
}

.quiz-error-handler {
    display: flex;
    align-items: center;
    justify-content: center;

    & h3 {
        background: #bd2130;
        padding: .4rem 8rem;
        margin-top: 2rem;
        font-size: 1rem;
        color: @white;
    }
}

.quiz-error-handler-hidden {
    opacity: 0;
}

.quiz-gray-content {
    background: @grayf1;
    padding: 2rem 8rem;
    border-radius: 15px;

    & h2 {
        font-size: 1.5rem;
        margin-bottom: .2rem;
    }

    & input {
        margin-top: 1rem;
        .placeholder(@darkgreen);
    }

    & small {
        width: 100% !important;
        text-align: left !important;
        display: block;
        padding: .2rem;
        color: red;
    }

    & .btn-green {
        margin-top: 1rem;
        width: 100%;
    }
}


/*TEST*/
#mc_embed_signup {
    padding: 0 5rem;

    & .mc-field-group {
        position: relative;
        margin-bottom: 2rem;

        & input {
            width: 100%;
            border: 0;
            background: @grayf1;
            color: @black;
            padding: .3rem 1rem;

            &:focus + label {
                top: -10px;
                font-size: .5rem;
            }
        }

        & input.mce_inline_error + label {
            top: -10px;
            font-size: .5rem;
        }

        & input.valid + label {
            top: -10px;
            font-size: .5rem;
        }

        & label {
            position: absolute;
            top: 5px;
            left: 15px;
            .transition(all .3s ease-in-out);
        }

        & div.mce_inline_error {
            position: absolute;
            left: 0;
            padding: .2rem !important;
            line-height: 1rem !important;
            font-weight: 300 !important;
            width: 100%;
            font-size: .9rem;
            .transition(all .3s ease-in-out);
        }
    }

    & #mc-embedded-subscribe {
        background: @darkgreen;
        width: 100%;
        border: 0;
        color: @white;
        padding: .3rem;
        font-weight: 600;
    }
}


.loader {
    padding: 15rem;

    & div {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: absolute;
        border: 1px solid red;
        animation: up 1s;
        animation-iteration-count: infinite;
        transition: 2s;
        border-bottom: none;
        border-right: none;
        animation-timing-function: linear;
        margin-left: -70px;
        margin-top: -70px;
        left: 50%;
        top: 50%;

    }



    & #img2 {
        width: 90px;
        height: 90px;
        left: 50.35%;
        top: 50.7%;
        animation-delay: .2s;

    }

    & #img3 {
        width: 80px;
        height: 80px;
        left: 50.70%;
        top: 51.4%;
        animation-delay: .4s;
    }

    & #img4 {
        width: 70px;
        height: 70px;
        left: 51.05%;
        top: 52.1%;
        animation-delay: .6s;

    }

    & #img5 {
        width: 60px;
        height: 60px;
        left: 51.40%;
        top: 52.8%;
        animation-delay: .8s;

    }
}

@keyframes up {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.single-meta-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.quiz-mail-loader-hidden {
    display: none;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: @darkpink;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}

.hero-result-section {
    margin-top: -4.5%;
    position: relative;

    & .section-quiz-content {
        padding: 8rem 3rem;
    }

    & .img-down {
        position: absolute;
        bottom: -35px;
        left: 49%;
    }
}

.section-result-content {
    padding: 5rem 1rem;
    font-size: 1.1rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: @darkgreen;
    text-align: center;

    & p {
        padding: 0 1rem;
    }

    & h2 {
        font-weight: 700;
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 4rem;
    }

    & .btn-green {
        padding: 1rem 7rem;
        display: inline-block;
        margin: 0 auto;
        margin-top: 3rem;
    }
}



.custom_mailchimp_form {
    & .mailchimp_form {
        max-width: 75%;
        display: block;
        margin: 0 auto;
        margin-top: 1rem;

        & input {
            border-radius: 0;
            border: 0;
            background: #EEE;
            margin-top: 1rem;
            padding: 1rem;
        }

        & .danger {
            width: 100% !important;
            text-align: left;
            display: block;
            background: #a70000;
            padding: .1rem 1rem !important;
            color: @white;
            line-height: 1rem;
            margin-bottom: .5rem;
        }

        & .btn-submit {
            background: @darkgreen;
            color: @white;
            display: block;
            margin-top: 1.5rem;
            width: 100%;
            font-weight: 600;
            font-size: 1.2rem;
            text-transform: uppercase;
            padding: .6rem;
        }
    }
}

.img-profile-logo {
    max-height: 90px;
}
