/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {
    .profile-section .profile-item .profile-item-text {
        padding: 0 1rem;
    }

    .section-hero {
        margin-top: -5.5%;
    }

    .section-about .section-about-sprite {
        left: 39vw;
    }

    .section-about .section-about-button {
        left: 41vw;
    }

    .page-about-intro-section .section-intro-text-content {
        padding: 0 3rem;
    }

    .hero-result-section {
        margin-top: -5.1%;
    }
}

@media (max-width: 1600px) {
    .section-about .section-about-sprite {
        left: 38vw;
    }

    .section-about .section-about-button .btn-green {
        padding: 1rem 1.5rem;
    }

    .page-about-intro-section .section-intro-text-content {
        padding: 0 1rem;
    }

    .section-result-content h2 {
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 1440px) {
    .quiz-gray-content {
        padding: 2rem 3rem;
    }

    #mc_embed_signup {
        padding: 0 2rem;
    }

    .section-hero {
        margin-top: -6%;
    }

    .section-about .section-about-sprite {
        left: 39vw;
        max-width: 245px;
    }

    .section-about .section-about-button {
        left: 40vw;
    }

    .section-about .section-about-item .about-text-content {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .page-about-intro-section .page-about-intro-title-section h2 {
        font-size: 1.5rem;
    }

    .profile-section .profile-item .profile-item-text {
        min-height: 360px;
    }

    .hero-result-section {
        margin-top: -6%;
    }

    .section-result-content h2 {
        font-size: 1.6rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 1366px) {
    .hero-result-section {
        margin-top: -6.5%;
    }

    .page-about-hero .page-about-hero-content {
        background-position: center right !important;
    }

    .section-hero {
        margin-top: -6.4%;
    }

    .the-footer .footer-section .footer-item {
        font-size: .9rem;
        line-height: 1.7rem;
    }

    .section-result-content h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1280px) {
    #mc_embed_signup {
        padding: 0 1rem;
    }

    .hero-result-section {
        margin-top: -6.9%;
    }

    .section-hero {
        margin-top: -7%;
    }

    .section-about .section-about-item .about-text-content {
        padding: 2rem 8rem;
        padding-right: 2rem;
    }

    .page-about-second-section .about-text-content {
        padding: 0 3rem;
    }

    .section-result-content h2 {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    .hero-result-section .img-down {
        left: 48%;
    }
}

@media (max-width: 1170px) {
    .section-hero {
        margin-top: -9%;
    }

    .home-menu-section .home-menu-content .custom-home-nav li a {
        letter-spacing: 0;
        font-size: .9rem;
        padding: 10px;
    }

    .section-hero .hero-content h2 {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: .3px;
        text-align: center;
    }

    .section-podcast .section-podcast-text-content .podcast-box-container .podcast-box {
        max-width: 280px;
    }

    .section-podcast .section-podcast-text-content .podcast-box-container .podcast-box .podcast-heading {
        padding: 1rem !important;
    }

    .section-podcast .section-podcast-text-content .podcast-box-container .podcast-box .podcast-heading h2 {
        font-size: 1rem;
    }

    .section-podcast .section-podcast-text-content .podcast-box-container .podcast-box li a {
        padding: .8rem;
        font-size: .9rem;
    }

    .section-podcast .section-podcast-text-content .podcast-text-item {
        font-size: .9rem;
        line-height: 1.6rem;
    }

    .section-podcast .section-podcast-text-content .podcast-text-item-first {
        font-size: .9rem;
        line-height: 1.6rem;
    }

    .quiz-section .section-quiz-content .img-quiz {
        margin-bottom: 2rem;
    }

    .quiz-section .section-quiz-content .section-quiz-text {
        font-size: 1rem;
        line-height: 2rem;
    }

    .profile-section .profile-item .profile-item-text {
        padding: 0 1rem;
        font-size: .9rem;
        line-height: 1.4rem;
        min-height: 400px;
    }

    .links-section .section-links-content .links-item .links-item-text {
        padding: 0 2rem;
    }

    .the-footer .footer-section .footer-item .menu li {
        min-width: 100%;
        margin-bottom: .5rem;
    }

    .profile-item-text img {
        width: 100%;
        height: auto;
        max-width: 245px;
    }

    .archive-item .archive-item-image header h2 {
        font-size: 1.4rem;
    }

    .page-about-hero .page-about-hero-content {
        background-position: center center !important;
    }

    .page-about-second-section .about-text-content .about-text-title h2 {
        font-size: 1.7rem;
    }

    .page-about-second-section .about-text-content {
        padding: 0 2rem;
        font-size: 1rem;
    }

    .page-about-third-section .section-about-content .section-about-text {
        font-size: 1.3rem;
    }

    .page-about-hero .page-about-hero-content .about-hero-text h2 {
        bottom: -10%;
        left: 22%;
    }

    .page-about-second-section .section-about-main-picture {
        min-height: 90vh;
    }

    .header-logo {
        padding: 0;
    }

    .the-header-blog .menu-hamburger {
        padding: 0;
    }

    .the-header-blog .nav-link {
        padding-right: .4rem;
        padding-left: .4rem;
        font-size: .9rem;
    }

    .hero-result-section {
        margin-top: -8.5%;
    }

    #mc_embed_signup {
        padding: 0;
    }
}

@media (max-width: 1024px) {
    .home-menu-content .custom-home-nav li a {
        font-size: .9rem;
    }

    .section-about .section-about-sprite {
        left: 35vw;
        max-width: 245px;
    }

    .section-about .section-about-button {
        left: 37vw;
    }

    .section-about .section-about-main-picture {
        background-position: 70% center !important;
    }

    .breadcrumb-single-container .active {
        display: block;
        margin-top: .3rem;
        padding-left: 0;

        &:before {
            display: none;
        }
    }
}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .quiz-container {
        position: relative;
        min-height: unset;
    }

    .loader div {
        margin-left: -45px;
    }

    .hero-result-section .img-down {
        left: 46%;
    }

    .hero-result-section {
        margin-top: 85px;
    }

    .links-section .section-links-content .links-item .links-item-text {
        min-height: unset;
        display: block;
    }

    .section-hero {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .section-hero .section-hero-content {
        min-height: 40vh;
    }

    .section-hero .row-hero {
        min-height: 40vh;
    }

    .section-podcast .section-podcast-content {
        min-height: 40vh;
    }

    .section-podcast .row-podcast {
        min-height: 40vh;
    }

    .section-about .section-about-main-picture {
        min-height: 40vh;
    }

    .section-hero .hero-content h2 {
        font-size: .9rem;
    }

    .section-podcast .section-podcast-text-content .podcast-box-container .podcast-box {
        max-width: unset;
        position: unset;
        margin-bottom: 2rem;
    }

    .section-podcast .section-podcast-text-content .podcast-box-container {
        padding-top: 0;
    }

    .section-about .section-about-item .about-text-content {
        padding: 2rem;
    }

    .section-about-button-mobile {
        text-align: center;
        margin-bottom: 3rem;
    }

    .profile-item {
        margin-bottom: 2rem;
    }

    .profile-section .profile-item .profile-item-text {
        min-height: unset;
    }

    .profile-item img {
        max-width: 300px;
    }

    .links-item {
        margin-bottom: 2rem;
    }

    .the-footer .footer-section .footer-item .menu li {
        margin-bottom: .5rem;
        text-align: center;
    }

    .the-footer .footer-section .footer-item {
        padding: 2rem;
    }

    .home-menu-content {
        padding: .5rem 0;
    }

    .home-menu-content .custom-home-nav li a {
        font-size: .8rem;
        padding: 5px;
    }

    .archive-item .archive-item-image header {
        max-width: 80%;
        padding: 1.5rem 1.5rem;
        padding-right: 3rem;
    }

    .archive-item .archive-item-image header h2 {
        font-size: 1rem;
        line-height: 1.9rem;
    }

    .archive-item .archive-item-image .category-container ul li a {
        font-size: .9rem;
    }

    .the-sidebar .widget-post-list li .media-number {
        font-size: 2rem;
        margin-right: .8rem;
    }

    .the-single header h1 {
        padding-right: 0;
    }

    .page-about-hero .page-about-hero-content {
        background-position: -215% center !important;
        background-size: cover !important;
        min-height: 45vh;
    }

    .page-about-hero .page-about-hero-content .row-hero {
        min-height: 45vh;
    }

    .page-about-second-section .section-about-main-picture {
        min-height: 40vh;
    }

    .page-about-second-section .about-text-content {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .page-about-second-section .about-text-content {
        padding: 2rem;
    }

    .page-about-hero {
        margin-top: 0rem;
    }

    .title-breadcrumb-container {
        margin-top: 8rem;
    }

}

@media (max-width: 960px) and (max-height: 600px) {
    .section-about .section-about-main-picture {
        min-height: 100vh;
    }

    .section-hero .section-hero-content {
        min-height: 90vh;
    }

    .section-hero .row-hero {
        min-height: 90vh;
    }

    .section-podcast .row-podcast {
        min-height: 60vh;
    }

    .navbar-mobile-collapse {
        max-width: 100%;
    }

    .page-about-hero .page-about-hero-content {
        background-position: center center !important;
    }
}

@media (max-width: 800px) and (max-height: 480px) {
    .navbar-mobile-collapse {
        max-width: 100%;
    }

    .section-hero .row-hero {
        min-height: 100vh;
    }

    .section-podcast .row-podcast {
        min-height: 80vh;
    }
}


@media (max-width: 800px) {}

@media (max-width: 768px) {
    .loader {
        padding: 9rem;
    }

    .profile-item img {
        max-width: 300px;
    }

    .hero-result-section .img-down {
        left: 43%;
    }

    .page-about-hero {
        margin-top: .5rem;
    }

    .section-hero .hero-content h2 {
        line-height: 1.4rem;
    }

    .the-footer .footer-copyright h5 {
        font-size: .7rem;
        margin-bottom: 0;
    }

    .the-navbar {
        padding: 1.5rem;
    }

    .section-hero {
        margin-top: 1rem;
    }

    .navbar-mobile-collapse {
        max-width: 100%;
        top: 80px;
    }

    .section-hero .row-hero {
        min-height: 50vh;
    }

    .page-about-hero .page-about-hero-content {
        background-position: center center !important;
        background-size: cover !important;
    }

    .page-about-hero .page-about-hero-content .row-hero {
        min-height: 55vh;
    }

    .page-about-hero .page-about-hero-content .row-hero {
        min-height: 55vh;
    }

    .links-section .section-links-content .links-item .links-item-text {
        padding: 0;
    }
}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
-------------------------------------------------------------- */


@media (max-width: 600px) {
    .section-result-content {
        padding: 3rem 1rem;
    }

    .section-result-content button {
        padding: 1rem;
        width: 100%;
        margin-top: 3rem;
    }

    .search-container {
        padding: 2.3rem;
    }

    .main-title-container {
        text-align: center;
        margin-bottom: 1rem;
    }

    .title-breadcrumb-container .breadcrumb-container .breadcrumb {
        justify-content: flex-start;
        flex-flow: row;
        text-align: left;
    }


    .archive-item .archive-item-image header {
        position: unset;
        bottom: 0;
        left: 0;
        max-width: 100%;
        padding: 1rem 0;
        padding-bottom: 0;
    }

    .quiz-section .section-quiz-content {
        padding: 3rem 1rem;
    }

    .quiz-container .quiz-counter span:nth-child(1) {
        font-size: 1.1rem;
        margin-right: .5rem;
    }

    .quiz-container .quiz-controller {
        bottom: -30px;
    }

    .quiz-error-handler h3 {
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .the-single {
        padding-right: 1rem;
    }

    .section-hero {
        margin-bottom: .5rem;
    }

    .section-hero .section-hero-content {
        min-height: 45vh;
        background-position: top left !important;
    }

    .section-hero .row-hero {
        min-height: 45vh;
    }

    .hero-content {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        flex: 0 0 100%;
        flex-flow: column;
    }

    .the-footer .footer-section .footer-item .menu li {
        min-width: 44%;
    }

    .links-section .section-links-content {
        padding: 1rem;
    }

    .section-podcast {
        margin-top: 2rem;
    }

    .links-item img {
        max-width: 150px;
    }

    .page-about-hero {
        margin-top: .8rem;
    }

    .page-about-hero .page-about-hero-content .about-hero-text h2 {
        font-size: 2.3rem;
    }

    .page-about-hero .page-about-hero-content .row-hero {
        align-items: flex-end !important;
        margin-bottom: 5rem;
    }

    .page-about-intro-section .page-about-intro-title-section {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .page-about-intro-section .page-about-intro-title-section h2 {
        margin-left: 0;
    }

    .page-about-intro-section .section-intro-content {
        padding: 2rem 1rem;
    }

    .page-about-intro-section .section-intro-text-content {
        padding: 0;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .page-about-second-section .about-text-content .about-text-title h2 {
        font-size: 1.4rem;
    }

    .page-about-third-section .section-about-content .section-about-text {
        font-size: 1rem;
        line-height: 2rem;
        margin-top: -2rem;
    }

    .quiz-section .section-quiz-content .section-quiz-text .btn-gray {
        padding: 1rem;
        width: 100%;
    }

    .page-about-hero .page-about-hero-content {
        background-position: -100vw center !important;
    }

    .footer-menu {
        display: none;
    }

    .hero-result-section .img-down {
        left: 40%;
    }

    .section-hero {
        margin-top: 6rem;
    }

    .custom_mailchimp_form .mailchimp_form {
        max-width: 100%;
    }
}

@media (max-width: 533px) {
    .quiz-gray-content {
        padding: 1rem 1rem;
    }

    .page-about-intro-section .page-about-intro-title-section h2 {
        font-size: 1rem;
    }

    .page-about-second-section .about-text-content {
        padding: 1rem;
    }

    .page-about-intro-title-section img {
        max-width: 150px;
    }

    .page-about-hero .page-about-hero-content .about-hero-text h2 {
        font-size: 1.6rem;
        bottom: -15%;
        left: 23%;
    }

    .page-about-third-section .section-about-content {
        padding: 4rem 1rem;
    }

    .loader {
        padding: 5rem;
    }

    .section-hero .section-hero-content {
        min-height: 55vh;
        background-position: top left !important;
    }

    .section-hero .row-hero {
        min-height: 55vh;
    }

    .page-about-second-section .about-text-content .about-text-title h2 {
        top: 30%;
    }

}

@media (max-width: 736px) and (max-height: 414px) {
    .section-hero .section-hero-content {
        min-height: 100vh;
    }

    .section-hero .row-hero {
        min-height: 100vh;
        padding: 5rem;
        padding-top: 7rem;
    }
}

@media (max-width: 414px) {
    .the-footer .footer-section .footer-item .widgettitle {
        text-align: center;
    }

    .navbar-mobile-collapse .menu-menubar-container ul li a {
        padding: .3rem .5rem;
        font-size: .9rem;
    }

    .navbar-mobile-collapse .menu-menubar-container {
        margin-bottom: .2rem;
    }

    .navbar-mobile-collapse .social-menubar-container {
        padding: .2rem 1rem;
    }

    .the-navbar-mobile {
        padding: 1.5rem 2rem;
    }

    .fixed-mobile .the-navbar-mobile {
        padding: .2rem 1.5rem;
    }

    .navbar-mobile-collapse {
        top: 81px;
    }

    .profile-section .profile-item .btn-green {
        width: 100%;
        padding: 1rem;
    }

    .quiz-section .section-quiz-content {
        padding: 3rem 1rem;
    }

    .profile-section {
        padding: .5rem;
    }

    .the-footer .footer-section .footer-item .menu li {
        min-width: 100%;
    }

    .section-result-content {
        font-size: .9rem;
        line-height: 2rem;
        padding: 3rem .5rem;
    }

    .page-about-hero .page-about-hero-content {
        min-height: 50vh;
    }

    .page-about-hero .page-about-hero-content .row-hero {
        min-height: 50vh;
    }

    .hero-result-section {
        margin-top: 35%;
    }

    .section-result-content .btn-green {
        padding: 1rem;
        margin: 0 auto;
    }

    .quiz-container .quiz-content .radio-option label {
        font-size: .8rem;
        font-weight: 600;
    }
}

@media (max-width: 375px) {
    .hero-result-section .img-down {
        left: 38%;
    }
}

@media (max-width: 360px) {
    .section-hero .section-hero-content {
        min-height: 65vh;
    }

    .section-hero .row-hero {
        min-height: 65vh;
    }

    .section-hero .section-hero-content {
        padding: 0;
    }

    .section-podcast .section-podcast-content .podcast-hero .btn-gray {
        max-width: 100%;
        width: 100%;
        padding: 1rem;

        & .fa {
            display: none;
        }
    }

    .section-about-button-mobile .btn-green {
        padding: 1rem;
        width: 100%;
    }

    .links-section .section-links-content .links-item .btn-gray {
        padding: 1rem;
        width: 100%;
    }

    .section-about .section-about-item .about-text-content {
        padding: .5rem;
    }

    .hero-result-section {
        margin-top: 40%;
    }

}

@media (max-width: 320px) {
    .profile-item img {
        max-width: 200px;
    }

    .section-hero .row-hero {
        min-height: 85vh;
    }

    .custom_mailchimp_form .mailchimp_form .btn-submit {
        font-size: .9rem;
    }
}

@media (max-width: 240px) {}
