/* CUSTOM WORDPRESS ADMIN OVERRIDES */

/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@softpink: #E6BFC4;
@darkblue: #323F48;
@lightgray: #EBCDCF;
@black: #000000;
@white: #FFFFFF;

/* --------------------------------------------------------------
CUSTOM LOGIN OVERRIDE
-------------------------------------------------------------- */

.toplevel_page_bylablum_custom_options {
    & .custom-clearfix {
        clear: both;
        float: none;
    }

    & #wpcontent {
        padding-left: 0;

        & .bylablum_custom_options-header {
            background: #808080;
            border-bottom: 1px solid black;
            padding: 20px;

            & .logo-header {
                max-height: 90px;
                float: right;
            }

            & h1 {
                float: left;
                margin-top: 2.5%;
                color: @white;
            }
        }

        & .bylablum_custom_options-content {
            padding: 5px 20px;
        }
    }
}

.cmb-custom-2columns {
    display: inline-block;
    vertical-align: top;
    min-height: 125px;
    padding: 10px !important;
    min-width: 48%;
}
